/* PADDING APPLIED TO: TOP, RIGHT, BOTTOM, LEFT (TÄNK -> KLOCKAN) 
     PADDING ALSO IN THIS CASE ADJUSTS WIDTH                       */
.layout {
  padding: 30px 90px 30px 90px;
}

.grid {
  background-color: white;
  display: grid;
  /* HEIGHT OF HEADER */
  grid-template-rows: 50px 333px 421px;
  gap: 30px;
  grid-template-areas: "head head head head";
}

header {
  display: flex;
  grid-area: head;
  background-color: #b30623;
  padding: 2rem;
  border-radius: 6px;
  justify-content: center;
  place-items: center;
}

/* logo in header ↑ */
.img-logo {
  height: 20%;
  width: 20%;
  margin-left: 0%;
}

/* container for list in header */
.flex-container {
  background-color: #b30623;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* ul - unordened list for 3 buttons in corner */
ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.main-content {
  color: white;
}
.selected-seats {
  font-size: 18px;
  font-weight: bold;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-color: #b30623;
  width: 580px;
  height: 530px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-left: 45%;
  margin-top: 10%;
}

.form-group {
  align-items: start;
  margin: 10px;
  display: flex;
  font-size: 18px;
  font-weight: bold;
}
.form-group {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}

.form-group label {
  color: #faf5f5;
}

.form-group input {
  width: 500px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}
.selected-seats-list {
  color: white;
}
li {
  font-family: sans-serif;
  display: inline-block;
  margin-left: 20px;
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
